{% from "_images.html" import list_images %}
{% from "_general.html" import header %}
{% extends "layout.html" %}


{% block body %}
    {{ header(local.adminmenu['CATEGORIES']) }}
    <form action="" method="GET">
        <input type="search" name="q" placeholder="{{ local.search['HINT_SEARCH'] }}">
    </form>
    {% if 'q' in request.args %}
        <a href="{{ url_for('admin_category', page=1) }}">{{ local.ALL }}</a>
    {% endif %}
    <table>
        <tr>
            <th>Název</th>
            <th>Moderátoři</th>
            <th>Smazat</th>
        </tr>
    {% for category in categories.items %}
        <tr>
            <td>
                <a href="{{ url_for('category_one', name=category.name) }}">{{ category.name }}</a>
            </td>
            <td>
                {% for moderator in category.moderators %}
                    <a href="{{ url_for('user', id=moderator.id) }}">{{ moderator.name }}</a>
                    {% if not loop.last %}
                        ,
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                <a href="{{ url_for('admin_category_delete', id=category.id, page=categories.page) }}">Smazat</a>
            </td>
        </tr>
    {% endfor %}
    </table>
    {% if categories.has_next %}
        <a href="{{ url_for('admin_category', page=categories.next_num) }}">Další</a>
    {% endif %}
    {% if categories.has_prev %}
        <a href="{{ url_for('admin_category', page=categories.prev_num) }}">Předchozí</a>
    {% endif %}
{% endblock %}
