{% from "_images.html" import list_images %}
{% from "_general.html" import header, confirmlink %}
{% extends "layout.html" %}


{% block body %}
    {{ header(local.adminmenu['COMMENTS']) }}
    <form action="" method="GET">
        <input type="search" name="q" placeholder="{{ local.search['HINT_SEARCH'] }}">
    </form>
    {% if 'q' in request.args %}
        <a href="{{ url_for('admin_comment', page=1) }}">{{ local.ALL }}</a>
    {% endif %}
    <table>
        <tr>
            <th>název</th>
            <th>vlastník</th>
            <th>obrázek</th>
            <th>hodnocení</th>
            <th>přidáno</th>
            <th>akce</th>
        </tr>
    {% for comment in comments.items %}
        {% if comment.state == 1 %}
            <tr class="accepted">
        {% else %}
            <tr class="declined">
        {% endif %}
            <td>
                <a href="{{ url_for('comment', id=comment.image.id, cid=comment.id) }}">{{ comment.text|truncate(30, True, '...') }}</a>
            </td>
            <td>
                {% if comment.owner %}
                    <a href="{{ url_for('user', id=comment.owner.id) }}">{{ comment.owner.name }}</a>
                {% else %}
                    {{ local.user['NONEXISTANT'] }}
                {% endif %}
            </td>
            <td>
                <a href="{{ url_for('image', id=comment.image.id) }}">{{ comment.image.name }}</a>
            </td>
            <td>
                {{ comment.rating }}
            </td>
            <td>
                {{ comment.ts }}
            </td>
            <td>
                {% if comment.state == 1 %}
                    {{ confirmlink(url_for('admin_comment_delete', id=comment.id, page=comments.page), local.confirms['COMMENT_DELETE'].format(comment.text), "smazat") }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
    {% if comments.has_next %}
        <a href="{{ url_for('admin_comment', page=comments.next_num) }}">Další</a>
    {% endif %}
    {% if comments.has_prev %}
        <a href="{{ url_for('admin_comment', page=comments.prev_num) }}">Předchozí</a>
    {% endif %}
{% endblock %}
