{% from "_images.html" import list_images %}
{% from "_general.html" import header %}
{% extends "layout.html" %}


{% block body %}
    {{ header(local.adminmenu['IMAGES']) }}
    <form action="" method="GET">
        <input type="search" name="q" placeholder="{{ local.search['HINT_SEARCH'] }}">
    </form>
    {% if 'q' in request.args %}
        <a href="{{ url_for('admin_image', page=1) }}">{{ local.ALL }}</a>
    {% endif %}
    <table>
        <th>
            <td>Název</td>
            <td>Smazat</td>
        </th>
    {% for image in images.items %}
        <tr>
            <td>
                {{ image.name }}
            </td>
            <td>
                <a href="{{ url_for('admin_image_delete', id=image.id, page=images.page) }}">Smazat</a>
            </td>
        </tr>
        {% if images.has_next %}
            <a href="{{ url_for('admin_image', page=images.next_num) }}">Další</a>
        {% endif %}
        {% if images.has_prev %}
            <a href="{{ url_for('admin_image', page=images.prev_num) }}">Předchozí</a>
        {% endif %}
    {% endfor %}
    </table>
{% endblock %}
