{% from "_images.html" import list_images %}
{% from "_general.html" import header, confirmlink %}
{% extends "layout.html" %}


{% block body %}
    {{ header(local.adminmenu['IMAGES']) }}
    <form action="" method="GET">
        <input type="search" name="q" placeholder="{{ local.search['HINT_SEARCH'] }}">
    </form>
    {% if 'q' in request.args %}
        <a href="{{ url_for('admin_image', page=1) }}">{{ local.ALL }}</a>
    {% endif %}
    <table>
        <tr>
            <td>Název</td>
            <td>Vlastník</td>
            <td>Kategorie</td>
            <td>Hodnocení</td>
            <td>Komentářů</td>
            <td>Přidáno</td>
            <td>Smazat</td>
        </tr>
    {% for image in images.items %}
        <tr>
            <td>
                {{ image.name }}
            </td>
            <td>
                {% if image.owner %}
                    <a href="{{ url_for('user', id=image.owner.id) }}">{{ image.owner.name }}</a>
                {% else %}
                    {{ local.user['NONEXISTANT'] }}
                {% endif %}
            </td>
            <td>
                {% if image.category %}
                    <a href="{{ url_for('category_one', name=image.category.name) }}">{{ image.category.name }}</a>
                {% else %}
                    {{ local.category['NONEXISTANT'] }}
                {% endif %}
            </td>
            <td>
                {{ image.rating }}
            </td>
            <td>
                {{ image.comments|count }}
            </td>
            <td>
                {{ image.ts }}
            </td>
            <td>
                {{ confirmlink(url_for('admin_image_delete', id=image.id, page=images.page), local.confirms['IMAGE_DELETE'].format(image.name), "smazat") }}
            </td>
        </tr>
    {% endfor %}
    </table>
    {% if images.has_next %}
        <a href="{{ url_for('admin_image', page=images.next_num) }}">Další</a>
    {% endif %}
    {% if images.has_prev %}
        <a href="{{ url_for('admin_image', page=images.prev_num) }}">Předchozí</a>
    {% endif %}
{% endblock %}
