{% from "_images.html" import list_images %}
{% extends "layout.html" %}

{% block body %}
    <table>
        <th>
            <td>Název</td>
            <td>Smazat</td>
        </th>
    {% for image in images.items %}
        <tr>
            <td>
                {{ image.name }}
            </td>
            <td>
                <a href="{{ url_for('admin_image_delete', id=image.id, page=images.page) }}">Smazat</a>
            </td>
        </tr>
        {% if images.has_next %}
            <a href="{{ url_for('admin_image', page=images.next_num) }}">Další</a>
        {% endif %}
        {% if images.has_prev %}
            <a href="{{ url_for('admin_image', page=images.prev_num) }}">Předchozí</a>
        {% endif %}
    {% endfor %}
    </table>
{% endblock %}
