{% from "_formhelpers.html" import render_field, render_submit %}
{% extends "layout.html" %}


{% block body %}
    {% if 'id' in session %}
        {{ local.sms['STATE'] }}:&nbsp;<span class="state"></span><br>
    {% endif %}
    <a href="{{ url_for('send_token') }}">{{ local.admin['SEND_TOKEN'] }}</a>
    <form method="POST" action="">
        <ul>
            {{ render_field(form.token) }}
            {{ form.hidden_tag() }}
            {{ render_submit(local.admin['LOGIN']) }}
        </ul>
    </form>
{% endblock %}


{% block js %}
    <script src="/static/js/ajaxfunctions.js"></script>
    {% if 'id' in session %}
        <script>
            var timer = setInterval(get_sms_state, 3000);
        </script>
    {% endif %}
{% endblock %}
