{% from "_general.html" import header %}
{% extends "layout.html" %}


{% block body %}
    {{ header(local.adminmenu['REQUESTS']) }}
    <table>
    {% for request in requests %}
        {% if request.state == 1 %}
            <tr class="accepted">
        {% elif request.state == -1 %}
            <tr class="declined">
        {% else %}
            <tr>
        {% endif %}
            <td>
                <a href="/r/{{ request.id }}">{{ request.name }}</a><br>
            </td>
            <td>
                {{ request.type }}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
