{% from "_general.html" import header %}
{% extends "layout.html" %}


{% block body %}
    {{ header(local.adminmenu['REQUESTS']) }}
    <table>
        <tr>
            <th>Název</th>
            <th>Text</th>
            <th>Typ</th>
            <th>Příjmout</th>
            <th>Zamítnout</th>
            <th>Smazat</th>
        </tr>
    {% for request in requests %}
        {% if request.state == 1 %}
            <tr class="accepted">
        {% elif request.state == -1 %}
            <tr class="declined">
        {% else %}
            <tr>
        {% endif %}
            <td>
                <a href="/r/{{ request.id }}">{{ request.name }}</a><br>
            </td>
            <td>
                {{ request.type }}
            </td>
            <td>
                {{ request.text }}
            </td>
            <td>
                <a href="{{ url_for('request_accept', id=request.id) }}">Příjmout</a>
            </td>
            <td>
                <a href="{{ url_for('request_decline', id=request.id) }}">Zamítnout</a>
            </td>
            <td>
                <a href="{{ url_for('request_delete', id=request.id) }}">Smazat</a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
