{% from "_general.html" import header %}
{% extends "layout.html" %}


{% block body %}
    {{ header(local.adminmenu['USERS']) }}
    <form action="" method="GET">
        <input type="search" name="q" placeholder="{{ local.search['HINT_SEARCH'] }}">
    </form>
    {% if 'q' in request.args %}
        <a href="{{ url_for('admin_user', page=1) }}">{{ local.ALL }}</a>
    {% endif %}
    <table>
        <tr>
            <td>Název</td>
            <td>Smazat</td>
            <td>Admin</td>
        </tr>
    {% for user in users.items %}
        <tr>
            <td>
                <a href="{{ url_for('user', id=user.id) }}">{{ user.name }}</a>
            </td>
            <td>
                <a href="{{ url_for('admin_user_delete', id=user.id, page=users.page) }}">Smazat</a>
            </td>
            {% if user.level < 2 %}
                <td>
                    <a href="{{ url_for('admin_user_promote', id=user.id, page=users.page) }}">Darovat admin práva</a>
                </td>
            {% else %}
                <td>
                    <a href="{{ url_for('admin_user_demote', id=user.id, page=users.page) }}">Odstranit admin práva</a>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
    {% if users.has_next %}
        <a href="{{ url_for('admin_user', page=users.next_num) }}">Další</a>
    {% endif %}
    {% if users.has_prev %}
        <a href="{{ url_for('admin_user', page=users.prev_num) }}">Předchozí</a>
    {% endif %}
{% endblock %}
