{% from "_voting.html" import votingmenu %}


{% macro list_comments(comments, DEF_user, image, local, session) %}
    <ol class="comment-list">
    {% set lastdepth=1 %}
    {% for comment in comments %}
        {% if comment.depth < 5 %}
            {% if comment.depth > lastdepth %}
                <ol class="comment-list">
            {% else %}
                {% for depth in range(comment.depth, lastdepth) %}
                    </li>
                    </ol>
                {% endfor %}
            {% endif %}
        {% endif %}
        <li class="comment-wrap">
            <article class="comment">
                <header class="comment__header">
                {% if comment.owner %}
                    <h3 class="meta-title"><a href="{{ url_for('user', id=comment.owner.id) }}">{{ comment.owner.name }}</a></h3>
                {% else %}
                    <h3 class="meta-title note">{{ local.user['NONEXISTANT'] }}</h3>
                {% endif %}
                    <p class="meta-time">{{ local.image['REPLIED'] }} {{ comment.ts.strftime('%d. %m. %Y') }}</p>
                </header>
                
                <p id="{{ comment.id }}" class="comment__content">
                {% if comment.state == 1 %}
                    <a href="{{ url_for('comment', id=image.id, cid=comment.id) }}">{{ comment.text }}</a>
                {% else %}
                    <span class="note">{{ local.comment['DELETED'] }}</span>
                {% endif %}
                </p>
            {% if DEF_user and comment.state > 0 %}
                <span id="actions_{{ comment.id }}">
                {{ votingmenu(DEF_user, comment, "/ajax/vote_comment") }}
                {% if 'admin' in session or DEF_user == comment.owner %}
                    <a href="{{ url_for('comment_edit', id=image.id, cid=comment.id) }}">Edit</a>
                    <a id="delete_{{ comment.id }}" onclick="delete_comment({{ comment.id }}, '{{ local.confirms['COMMENT_DELETE'].format(comment.text) }}')">Delete</a>
                {% endif %}
                {% if comment.image.category and DEF_user in comment.image.category.moderators %}
                    <a id="delete_{{ comment.id }}" onclick="delete_comment({{ comment.id }}, '{{ local.confirms['COMMENT_DELETE'].format(comment.text) }}')">Delete</a>
                {% endif %}
                </span>
            {% endif %}
            </article>                   
        {% if loop.last %}
            </li>
        {% endif %}
        {% set lastdepth = comment.depth %}
    {% endfor %}
    </ol>
{% endmacro %}
