{% macro header(text) %}
    <header class="unit gallery__header">
        <h1 class="gallery__header__h">
            {{ text }}
        </h1>
    </header> <!-- /gallery__header -->
{% endmacro %}

{% macro list_users(users, local, admin=False) %}
    <table>
        <tr>
            <th>přezdívka</th>
            <th>{{ local.user['SCORE_IMAGES'] }}</th>
            <th>{{ local.user['SCORE_COMMENTS'] }}</th>
            <th>{{ local.user['NUM_IMAGES'] }}</th>
            <th>{{ local.user['NUM_COMMENTS'] }}</th>
            <th>{{ local.user['MODERATES'] }}</th>
            <th>oprávnění</th>
            {% if admin %}
            <th colspan="3">{{ local.ACTIONS }}</th>
            {% endif %}
        </tr>
    {% for user in users.items %}
        <tr>
            <td>
                <a href="{{ url_for('user', id=user.id) }}">{{ user.name }}</a>
            </td>
            <td>
                {{ user.rating_image }}
            </td>
            <td>
                {{ user.rating_comment }}
            </td>
            <td>
                {{ user.images|count }}
            </td>
            <td>
                {{ user.comments|count }}
            </td>
            <td>
                {% for category in user.categories %}
                    <a href=" {{ url_for('category_one', name=category.name) }}">{{ category.name }}</a>
                    {% if not loop.last %}
                        , 
                    {% endif %}
                {% endfor %}
            </td>
            {% if admin %}
                <td>
                    {% if user.level == 2 %}
                        {{ local.user['ADMINISTRATOR'] }}
                    {% elif user.level == 1 %}
                        {{ local.user['MODERATOR'] }}
                    {% else %}
                        {{ local.user['USER'] }}
                    {% endif %}
                </td>
                <td>
                    {{ confirmlink(url_for('admin_user_delete', id=user.id, page=users.page), local.confirms['USER_DELETE'].format(user.name), "smazat") }}
                </td>
                {% if user.level < 2 %}
                    <td>
                        {{ confirmlink(url_for('admin_user_promote', id=user.id, page=users.page), local.confirms['USER_PROMOTE'].format(user.name), "darovat práva") }}
                    </td>
                {% else %}
                    <td>
                        {{ confirmlink(url_for('admin_user_demote', id=user.id, page=users.page), local.confirms['USER_DEMOTE'].format(user.name), "odstranit práva") }}
                    </td>
                {% endif %}
            {% endif %}
        </tr>
    {% endfor %}
    </table>
{% endmacro %}


{% macro confirmlink(url, confirmtext, text) %}
    <a href="{{ url }}" onclick="return confirm('{{ confirmtext|striptags }}')">{{ text }}</a>
{% endmacro %}
