{% from "_voting.html" import votingmenu %}


{% macro list_images(images, DEF_user, category, voting=True) %}
    <div class="masonry">
    {% for image in images.items %} 
        <div class="item">
            <figure class="gallery__img">
                <a href="{{ url_for(('image'), id=image.id) }}">
                    <img src="/static/img/thumb/{{ image.filename }}" alt="">
                </a>
            </figure>
            {{ image.name }}&nbsp;|
            <a href="{{ url_for('user', id=image.owner.id, page=images.page) }}">{{ image.owner.name }}</a>&nbsp;|&nbsp;
            {% if voting and DEF_user %}
                {{ votingmenu(DEF_user, image, "/ajax/vote_image") }} 
            {% endif %}
            {% if not category %}
                &nbsp;|&nbsp;<a href="{{ url_for('category_one', name=image.category.name) }}">{{ image.category.name }}</a>
            {% endif %}
        </div> <!-- /unit -->
    {% endfor %}
    </div>
{% endmacro %}
