{% from "_voting.html" import votingmenu %}


{% macro list_images(images, DEF_user, category, local) %}
    <div class="masonry">
    {% for image in images.items %} 
        <div class="item">
            <figure class="gallery__img">
                <a href="{{ url_for(('image'), id=image.id) }}">
                    <img src="/static/img/thumb/{{ image.filename }}" alt="">
                </a>
            </figure>
            {{ image.name }}&nbsp;|
            {% if image.owner %}
                <a href="{{ url_for('user', id=image.owner.id, page=images.page) }}">{{ image.owner.name }}</a>
            {% else %}
                <span class="note">{{ local.user['NONEXISTANT'] }}</span>
            {% endif %}
            {% if DEF_user %}
                &nbsp;|
                {{ votingmenu(DEF_user, image, "/ajax/vote_image") }} 
            {% endif %}
            {% if not category %}
                {% if image.category %}
                    &nbsp;|&nbsp;<a href="{{ url_for('category_one', name=image.category.name) }}">{{ image.category.name }}</a>
                {% else %}
                    <span class="note">{{ local.category['NONEXISTANT'] }}</span>
                {% endif %}
            {% endif %}
        </div> <!-- /unit -->
    {% endfor %}
    </div>
{% endmacro %}
