{% macro list_images(images, DEF_user, category) %}
    {% for image in images.items %} 
        <div class="unit gallery__cell">
            <figure class="gallery__img">
                <a href="{{ url_for(('image'), id=image.id) }}">
                    <img src="/static/img/thumb/{{ image.filename }}">
                </a>
            </figure>
            <a href="{{ url_for('user', id=image.owner.id) }}">{{ image.owner.name }}</a>
            {% if DEF_user %}
                {% if category %}
                    <a href="{{ url_for(('image_vote'), id=image.id, name=image.category.name, page=images.page, v='up') }}">+</a>
                    {{ image.rating }}
                    <a href="{{ url_for(('image_vote'), id=image.id, name=image.category.name, page=images.page, v='down') }}">-</a><br>
                {% else %}
                    <a href="{{ url_for(('image_vote'), id=image.id, ref='all', v='up') }}">+</a>
                    {{ image.rating }}
                    <a href="{{ url_for(('image_vote'), id=image.id, ref='all', v='down') }}">-</a>
                {% endif %}
            {% endif %}
            {% if not category %}
                <a href="{{ url_for('category_one', name=image.category.name) }}">{{ image.category.name }}</a>
            {% endif %}
        </div> <!-- /unit -->
    {% endfor %}
{% endmacro %}
