{% from "_formhelpers.html" import render_field, render_submit %}
{% extends "layout.html" %}

{% block body %}
    {% if DEF_user %}
        <form action="" method="POST">
            <ul>
                {{ render_field(form.name) }}
                {{ render_field(form.mail) }}
                {{ render_field(form.phone) }}
                {{ render_field(form.password) }}
                {{ form.hidden_tag() }}
                {{ render_submit(local.user['EDIT']) }}
            </ul>
        </form>
    {% endif %}
{% endblock %}
