{% from "_formhelpers.html" import render_field, render_submit %}
{% extends "layout.html" %}


{% set actionbar=True %}
{% block actionbar %}
    <a href="{{ url_for('category_one', name=category.name, page=request.args.get('page')) }}">{{ local.BACK }}</a>
{% endblock %}


{% block body %}
    <form method="POST" action="">
        <ul>
            {{ render_field(form.text) }}
            {{ form.hidden_tag() }}
            {{ render_submit(local.category['EDIT']) }}
        </ul>
    </form>
{% endblock %}
