{% from "_formhelpers.html" import render_field, render_submit %}
{% extends "layout.html" %}


{% set actionbar=True %}
{% block actionbar %}
    <a href="{{ url_for('category_one', name=category.name, page=request.args.get('page')) }}">{{ local.BACK }}</a>
{% endblock %}


{% block body %}
    <form action="{{ url_for('category_submit', name=category.name) }}" enctype="multipart/form-data" method="post">
        <ul>
            {{ render_field(form.name) }}
            {{ render_field(form.text) }}
            {{ render_field(form.link) }}
            {{ render_field(form.image) }}
            <li>{{ form.hidden_tag() }}</li>
            {{ render_submit(local.category_submit['POST']) }}
        </ul>
    </form>
{% endblock %}
