{% from "_images.html" import list_images %}
{% from "_general.html" import header %}
{% extends "layout.html" %}


{% if DEF_user %}
    {% set actionbar=True %}
    {% block actionbar %}
        {% if category and DEF_user %}
            <li><a href="{{ url_for('category_submit', name=category.name, page=images.page) }}">{{ local.actions['NEW_IMAGE'] }}</a><br></li>

            {% if DEF_user in category.moderators %}
                <li><a href="{{ url_for('category_pass_mod', name=category.name) }}">{{ local.actions['PASS_MOD'] }}</a><br></li>
                <li><a href="{{ url_for('category_edit', name=category.name, page=images.page) }}">{{ local.actions['EDIT'] }}</a><br></li>
            {% elif 'admin' in session  %}
                <li><a href="{{ url_for('category_become_mod', name=category.name) }}">{{ local.actions['BECOME_MOD'] }}</a><br></li>
                <li><a href="{{ url_for('category_edit', name=category.name, page=images.page) }}">{{ local.actions['EDIT'] }}</a><br></li>
            {% elif not DEF_user.already_requested(category) %}
                <li><a href="{{ url_for('request_submit', name=category.name) }}">{{ local.actions['REQUEST_MOD'] }}</a><br></li>
            {% endif %}

            {% for moderator in category.moderators %}
                <li>{{ moderator.name }}</li>
            {% endfor %}

        {% elif DEF_user and 'admin' not in session %}
            <li><a href="{{ url_for('request_submit') }}">{{ local.category['REQUEST_NEW'] }}</a><br></li>
        {% else %}
            <li><a href="{{ url_for('category_create') }}">{{ local.category['CREATE_NEW'] }}</a><br></li>
        {% endif %}

        {% if DEF_user.level > 1 and 'admin' not in session %}
            <li><a href="{{ url_for('superlogin') }}" class="note">{{ local.admin['NOTICE'] }}</a></li>
        {% endif %}
    {% endblock %}
{% endif %}


{% if category and category.text %}
    {% set widget=True %}
    {% block widget %}
        <h1>Informace</h1>
        {{ category.text|safe }}
    {% endblock %}
{% endif %}


{% block body %}
    <div class="row cf gallery">

        {% if category %}
            {{ header(category.name) }}
        {% else %}
            {{ header('Všechny fotografie') }}
        {% endif %}

        {{ list_images(images, DEF_user, category) }}

        {% if category %}
            {% if images.has_next %}
                <a href="{{ url_for('category_one', name=category.name, page=images.next_num) }}">Next</a>
            {% endif %}
            {% if images.has_prev %}
                <a href="{{ url_for('category_one', name=category.name, page=images.prev_num) }}">Prev</a>
            {% endif %}
        {% else %}
            {% if images.has_next %}
                <a href="{{ url_for('category_all', page=images.next_num) }}">Next</a>
            {% endif %}
            {% if images.has_prev %}
                <a href="{{ url_for('category_all', page=images.prev_num) }}">Prev</a>
            {% endif %}
        {% endif %}

    </div> <!-- /row -->
{% endblock %}
