{% from "_formhelpers.html" import render_field, render_submit %}
{% extends "layout.html" %}


{% set actionbar=True %}
{% block actionbar %}
<li><a href="{{ url_for('category_one', name=category.name, page=request.args.get('page')) }}">{{ local.BACK }}</a></li>
{% endblock %}


{% block body %}
    <form action="{{ url_for('category_edit', name=category.name) }}" method="post">
        <ul>
            {{ render_field(form.text) }}
            <li>{{ form.hidden_tag() }}</li>
            {{ render_submit(local.category['EDIT']) }}
        </ul>
    </form>
{% endblock %}
