{% from "_formhelpers.html" import render_field %}
{% from "_comments.html" import list_comments %}
{% extends "layout.html" %}
{% block body %}
    {% if DEF_user %}
        {% if edit %}
            <form action="{{ url_for('comment_edit', id=id, cid=cid) }}" method="POST">
        {% else %}
            <form action="{{ url_for('comment_submit', id=id, cid=cid) }}" method="POST">
        {% endif %}
            {{ render_field(form.text) }}
            {{ form.hidden_tag() }}
            <input type="submit" value="reply">
        </form>
    {% endif %}
    {{ list_comments(comments, DEF_user, image, local) }}
{% endblock %}
