{% from "_formhelpers.html" import render_field, render_submit %}
{% from "_comments.html" import list_comments %}
{% extends "layout.html" %}
{% block body %}
    {% if DEF_user %}
        {% if edit %}
            <form action="{{ url_for('comment_edit', id=id, cid=cid) }}" method="POST">
        {% else %}
            <form action="{{ url_for('comment_submit', id=id, cid=cid) }}" method="POST">
        {% endif %}
            <ul>
                {{ render_field(form.text) }}
                {{ form.hidden_tag() }}
                {{ render_submit(local.comment['REPLY']) }}
            </ul>
        </form>
    {% endif %}
    {{ list_comments(comments, DEF_user, image, local) }}
{% endblock %}
