{% from "_formhelpers.html" import render_field, render_submit %}
{% from "_comments.html" import list_comments %}
{% extends "layout.html" %}


{% set actionbar=True %}
{% block actionbar %}
    <a href="{{ url_for('image', id=id) }}">{{ local.BACK }}</a>
{% endblock %}


{% block body %}
    {% if DEF_user %}
        {% if edit %}
            <form action="{{ url_for('comment_edit', id=id, cid=cid) }}" method="post">
        {% else %}
            <form action="{{ url_for('comment_submit', id=id, cid=cid) }}" method="post">
        {% endif %}
            <ul>
                {{ render_field(form.text) }}
                <li>{{ form.hidden_tag() }}</li>
                {% if edit %}
                    {{ render_submit(local.comment['EDIT']) }}
                {% else %}
                    {{ render_submit(local.comment['REPLY']) }}
                {% endif %}
            </ul>
        </form>
    {% endif %}
    {{ list_comments(comments, DEF_user, image, local, session) }}
{% endblock %}


{% block js %}
    <script src="/static/js/ajaxfunctions.js"></script>
{% endblock %}
