{% from "_formhelpers.html" import render_field %}
{% from "_comments.html" import list_comments %}
{% extends "layout.html" %}

{% set actionbar=True %}
{% block actionbar %}
    {% if DEF_user and (DEF_user == image.owner or DEF_user.level > 1) %}
        <li><a href="{{ url_for('image_edit', id=image.id) }}">{{ local.actions['EDIT'] }}</a><br></li>
        <li><a href="{{ url_for('image_delete', id=image.id) }}">{{ local.actions['DELETE'] }}</a><br></li>
    {% endif %}
    {% if DEF_user %}
        <li><a href="{{ url_for('image_vote', id=image.id, v='up') }}">{{ local.actions['UPVOTE'] }}</a><br></li>
        <li><a href="{{ url_for('image_vote', id=image.id, v='down') }}">{{ local.actions['DOWNVOTE'] }}</a><br></li>
    {% endif %}
{% endblock %}

{% set widget=True %}
{% block widget %}
    <ul>
        <li><h1>{{ local.image['INFO'] }}</h1></li>
        <li>Vlasník:&nbsp;<a href="/u/{{ image.owner.id }}">{{ image.owner.name }}</a></li>
        <li>Kategorie:&nbsp;<a href="/c/{{ image.category.name }}">{{ image.category.name }}</a></li>
        <li>Hodnocení:&nbsp;{{ image.rating }}</li>
        {% if image.exif %}
        <li><h1>{{ local.image['EXIF'] }}</h1></li>
            <ul>
            {% for exif in image.exif %}
                <li><strong>{{ exif.key }}</strong>: {{ exif.value }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </ul>
{% endblock %}

{% block body %}
    <img src="/static/img/upload/{{ image.filename }}" alt="">
    {% if DEF_user and not commented %}
        <form action="{{ url_for(('comment_submit'), id=image.id) }}" method="POST">
            {{ render_field(form.text) }}
            {{ form.hidden_tag() }}
            <input type="submit" value="{{ local.image['COMMENT'] }}">
        </form>
    {% endif %}

<div class="comments-area" id="comments">

    <h3>Comments on this article</h3>
    {{ list_comments(comments, DEF_user, image, local) }}
</div>
{% endblock %}
