<!DOCTYPE html>
<html>
    <head>

        <!-- Charset & Title -->
        <meta charset="utf-8">
        <title>{{ title }}</title>

        <!-- Meta tags -->
        <meta name="author" content="Martin Polednik">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="/static/css/master.css">
   
    </head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    User<br>
    {% if DEF_user %}
        <a href="{{ url_for('account') }}">{{ DEF_user }}</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
    {% endif %}
    <br><br>Categories<br>
    <a href="/">All</a>&nbsp;
    {% for category in DEF_categories %}
        <a href="/c/{{ category.name }}">{{ category.name }}</a>&nbsp;
    {% endfor %}
    {% block body %}{% endblock %}
</body>
</html
