<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Charset & Title -->
        <meta charset="utf-8">
        <title>{{ title }}</title>

        <!-- Meta tags -->
        <meta name="description" content="A nice description of your page">
        <meta name="author" content="Martin Polednik">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="/static/css/master.css">
   
    </head>
<body>

<!-- PAGE HEADER -->
<header class="page-header">
    <nav class="top-bar">
        <ul class="nav nav--inline">
            <li><a href="/">{{ local.ALL }}</a></li>
            {% for category in DEF_categories %}
                <li><a href="/c/{{ category.name }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </nav> <!-- /top-bar -->

    <div class="top-header">
        <h1 class="top-header__h">Fotogalerie</h1>

        <nav class="top-header__nav">
            <ul class="nav nav--inline">
                {% if DEF_user %}
                    <li><a href="{{ url_for('account') }}">{{ local.ACCOUNT }}</a></li>
                    <li><a href="{{ url_for('logout') }}">{{ local.LOGOUT }}</a></li>
                    {% if DEF_user.level > 1 and 'admin' not in session %}
                        <li><a href="{{ url_for('superlogin') }}">{{ local.SUPERLOGIN }}</a></li>
                    {% elif 'admin' in session %}
                        <li><a href="{{ url_for('superlogout') }}">{{ local.SUPERLOGOUT }}</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{{ url_for('login') }}">{{ local.LOGIN }}</a></li>
                    <li><a href="{{ url_for('register') }}">{{ local.REGISTER }}</a></li>
                {% endif %}
            </ul>
        </nav>
    </div> <!-- /top-header -->
</header> <!-- /page-header -->

<!-- PAGE CONTENT -->
<div class="container">
<div class="row cf">
    <aside class="sidebar sidebar--fixed">
        <div class="widget widget__search">
            <h1>{{ local.search['SEARCH'] }}</h1>
            <form action="{{ url_for('search') }}" method="GET">
                <input type="search" name="q" placeholder="{{ local.search['HINT_SEARCH'] }}">
            </form>
        </div> <!-- /widget -->

        {% if DEF_user and DEF_user.level > 0 %}
            <div class="widget widget__admin">
                {% if DEF_user.level > 1 %}
                    <h1>{{ local.ADMIN }}</h1>
                {% else %}
                    <h1>{{ local.MOD }}</h1>
                {% endif %}
                <ul>
                    <li><a href="/r">{{ local.adminmenu['REQUESTS'] }}</a></li>
                    {% if DEF_user.level > 1 and 'admin' in session %}
                        <li><a href="/admin">{{ local.adminmenu['STATISTICS'] }}</a></li>
                        <li><a href="{{ url_for('admin_category', page=1) }}">{{ local.adminmenu['CATEGORIES'] }}</a></li>
                        <li><a href="{{ url_for('admin_user', page=1) }}">{{ local.adminmenu['USERS'] }}</a></li>
                        <li><a href="{{ url_for('admin_image', page=1) }}">{{ local.adminmenu['IMAGES'] }}</a></li>
                        <li><a href="{{ url_for('admin_comment', page=1) }}">{{ local.adminmenu['COMMENTS'] }}</a></li>
                    {% endif %}
                </ul>
            </div> <!-- /widget -->
        {% endif %}

        {% if widget %}
            <div class="widget">
                {% block widget %}{% endblock %}
            </div> <!-- /widget -->
        {% endif %}

        {% if actionbar %}
            <div class="widget widget__action">
                <h1>{{ local.ACTIONS }}</h1>
                <ul>
                    {% block actionbar %}{% endblock %}
                </ul>
            </div> <!-- /widget -->
        {% endif %}
    </aside> <!-- /sidebar -->
    <div class="content">
        {% block body %}{% endblock %}
    </div> <!-- /content -->
</div> <!-- /row -->
</div> <!-- /container -->

{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<!-- Scripts -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/static/js/generic.js"></script>

</body>
</html>
