{% from "_images.html" import list_images %}
{% from "_general.html" import header %}
{% extends "layout.html" %}


{% set widget=True %}
{% block widget %}
    <ul>
        <li><h1>Informace</h1></li>
        <li>Skóre obrázků:&nbsp;{{ user.rating_image }}
        <li>Skóre komentářů:&nbsp;{{ user.rating_comment }}
        <li>Vytvořen:&nbsp;{{ user.ts.strftime('%d. %m. %Y') }}</li>
    </ul>
{% endblock %}

{% block body %}
    <div class="row cf gallery">
        {{ header(user.name) }}
        {{ list_images(images, DEF_user, local) }}
    </div>
{% endblock %}
