{% from "_images.html" import list_images %}
{% extends "layout.html" %}


{% set widget=True %}
{% block widget %}
    <ul>
        <li><h1>{{ user.name }}</h1></li>
        <li>{{ local.user['SCORE_IMAGES'] }}:&nbsp;{{ user.rating_image }}
        <li>{{ local.user['SCORE_COMMENTS'] }}:&nbsp;{{ user.rating_comment }}
        <li>{{ local.user['NUM_IMAGES'] }}:&nbsp;{{ user.images|count }}</li>
        <li>{{ local.user['NUM_COMMENTS'] }}:&nbsp;{{ user.comments|count }}</li>
        <li>{{ local.user['CREATED'] }}:&nbsp;{{ user.ts.strftime('%d. %m. %Y') }}</li>
        {% if user.categories|count > 0 %}
        <li>{{ local.user['MODERATES'] }}:&nbsp;
            {% for category in user.categories %}
                <a href=" {{ url_for('category_one', name=category.name) }}">{{ category.name }}</a>
                {% if not loop.last %}
                    , 
                {% endif %}
            {% endfor %}
            </li>
        {% endif %}
    </ul>
{% endblock %}


{% block body %}
    <div class="row cf gallery">
        {{ list_images(images, DEF_user, local) }}

        {% if images.items|count > 0 %}
            <nav id="pagination">
                <a href="{{ url_for('user', id=user.id, page=images.next_num) }}">Next</a>
                <a href="{{ url_for('user', id=user.id, page=images.prev_num) }}">Prev</a>
            </nav>
        {% endif %}
    </div>
{% endblock %}


{% block js %}
    <script src="/static/js/ajaxfunctions.js"></script>
    <script src="/static/js/jquery.infinitescroll.min.js"></script>
    <script src="/static/js/infinitescroll.js"></script>
    <script>
        // passed to script with translation
        var msgText = '{{ local.LOADING }}';
        var finishedMsg = '{{ local.LOADING_FINISHED }}';
    </script>
{% endblock %}
