{% from "_images.html" import list_images %}
{% from "_general.html" import header %}
{% extends "layout.html" %}


{% set widget=True %}
{% block widget %}
    <ul>
        <li><h1>Informace</h1></li>
        <li>Skóre obrázků:&nbsp;{{ user.rating_image }}
        <li>Skóre komentářů:&nbsp;{{ user.rating_comment }}
        <li>Vytvořen:&nbsp;{{ user.ts.strftime('%d. %m. %Y') }}</li>
    </ul>
{% endblock %}


{% block body %}
    <div class="row cf gallery">
        {{ header(user.name) }}
        {{ list_images(images, DEF_user, local) }}

        {% if images.items|count > 0 %}
            <nav id="pagination">
                <a href="{{ url_for('user', id=user.id, page=images.next_num) }}">Next</a>
                <a href="{{ url_for('user', id=user.id, page=images.prev_num) }}">Prev</a>
            </nav>
        {% endif %}
    </div>
{% endblock %}


{% block js %}
    <script src="/static/js/ajaxfunctions.js"></script>
    <script src="/static/js/jquery.infinitescroll.min.js"></script>
    <script src="/static/js/infinitescroll.js"></script>
    <script>
        // passed to script with translation
        var msgText = '{{ local.LOADING }}';
        var finishedMsg = '{{ local.LOADING_FINISHED }}';
    </script>
{% endblock %}
